/* src/App.css */
.app-container {
    display: flex;
  }
  
  .main-content {
    width: 100%;
    overflow-y: auto;
  }
  
  .dashboard-content {
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    color: #3D5A80;
  }
  
  .centered-title {
    margin: 0;
    flex-grow: 1; /* Permite que el título ocupe todo el espacio disponible */
    text-align: center; /* Centra el texto */
  }
  
  .custom-button {
    width: 200px;
    padding: 10px;
    margin-left: 20px;
  }
  
  
