/* src/components/LogoUploader.css */
.logo-uploader {
  display: flex;
      flex-direction: row;
      gap: 20px;
  }
  
  .logo-preview {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .logo-uploader label{
    font-weight: bold;
    margin-bottom: 10px;
    width: 20%;
  }