/* src/components/TopProductItem.css */
.top-product-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
  }
  
  .top-product-item span {
    flex: 1;
    text-align: center;
  }
  
